/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --display-rec: flex;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --title-decor-color: #000028;
  --title-color: #ff0070;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --menu-color: #ff0070;
  --accent-color: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --display-rec: flex;
    --background-color: #000028;
    --text-color: #f1b2ce;
    --heading-color: #db00ff;
    --title-decor-color: #000028;
    --title-color: #ff0070;
    --hover-border-color: rgba(255, 0, 112, 0.4);
    --menu-color: #ff0070;
    --accent-color: #ff0070;
    }
   .page {
    background-image: url(../images/cover-image-dark.png);
   }
}
