.page.theme_light {
  --display-rec: none;
  --background-color: #fff1f7;
  --text-color: #353430;
  --heading-color: #ffc2e6;
  --title-decor-color: #353430;
  --title-color: #353430;
  --hover-border-color: rgb(50, 49, 45 / 0.4);
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --main-color: #000028;
  --main-font: 'IBM Plex Mono', monospace;
  --text-title-color: #000028;
  --line-height: 1.3;
  --font-size: 18px;
  --gap: 20px;
  --general-padding: 20px;
  --menu-margin: 20px;
  background-image: url(../images/cover-image-light.png);
}

.theme__light .header__rec {
  display: none;
}

.theme__light .header__theme-menu-button_active {
  border: 1px solid var(--menu-color, #353430);
}
